[submodule "Project/Modules/CDP2"]
	path = Project/Modules/CDP2
	url = https://github.com/MohammadRaziei/CDP2
[submodule "Project/Modules/iso2mesh"]
	path = Project/Modules/iso2mesh
	url = https://github.com/fangq/iso2mesh
